@import "../../_var";

// Отступ для якорных секций под фикс. шапкой
section[id] {
    scroll-margin-top: var(--scroll-margin-top);
}

.anchors-link {
    display: flex;
    align-items: center;
    gap: var(--gap-anchors, var(--m20));

    &--col {
        flex-direction: column;
        align-items: flex-start;
    }
}