@import "../../_var";

/**
* CSS @keyframes
*/

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

@keyframes popup-fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

