@import "../../_var";

.faq-item {
    border-bottom: 1px solid @cGray300;

    &__toggle {
        .clear-btn();
        .clear-link(@cNavy900);
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--m24);
        padding: var(--m20) 0;
        text-align: left;
    }

    &__question {
        font: 600 var(--fs18) / 1.3 @font;
        color: @cNavy900;
    }

    &__icon {
        .transit(~'transform, color', @transitTimeMedium);
        .container(unit((24 / 16), rem));
        flex-shrink: 0;
        color: @cNavy900;

        svg, span {
            .size(unit((20 / 16), rem));
        }
    }

    &__content-inner {
        font: 400 var(--fs16) / 1.6 @font;
        color: @cGray700;
    }

    &--open {
        .faq-item__icon {
            transform: rotate(180deg);
            color: @cBlue600;
        }
    }
}