@import "../../_var";

.faq-section {
    box-sizing: border-box;
    padding-top: var(--m48);
    border-top: 1px solid @cGray300;

    &__slide {
        display: flex;
        flex-direction: column;
        gap: var(--m24);
    }

    &__grid {
        display: grid;
        grid-template-columns: minmax(0, 5fr) minmax(0, 7fr);
        gap: var(--m48);
    }

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: var(--m12);
    }

    &__contact {
        .clear-link(@cNavy900);
        display: flex;
        align-items: center;
        gap: var(--m12);
    }

    &__contact-icon {
        .container(unit((40 / 16), rem));
        border: 1px solid @cGray400;
        border-radius: unit((4 / 16), rem);
        color: @cBlue600;
    }

    &__contact-info {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }

    &__contact-label {
        font: 400 var(--fs12) / 1 @font;
        color: @cGray500;
        letter-spacing: var(--letter-spacing);
        text-transform: uppercase;
    }

    &__contact-value {
        font: 500 var(--fs14) / 1.2 @font;
        color: @cNavy900;
    }

    &__list {
        display: flex;
        flex-direction: column;
    }
}
