@import "../../_var";

.constructor-field {
    display: flex;
    flex-direction: column;
    gap: var(--m8);

    &__label-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font: 600 var(--fs14) / 1.4 @font;
        letter-spacing: var(--letter-spacing);
        color: @cNavy900;
    }

    &__hint {
        font: 400 var(--fs12) / 1.4 @font;
        color: @cGray500;
    }

    &__grid {
        --column-count: 4;
        display: grid;
        grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
        gap: var(--m12);
    }

    &__item {
        flex: 1 1 unit((100 / 16), rem);
    }

    @media @mediaLg {
        &__grid {
            --column-count: 3;

            gap: var(--m8);
        }
    }

    @media @mediaSm {
        gap: var(--m4);

        &__grid {
            --column-count: 2;
        }

        &__label {
            font-size: var(--fs12);
        }

        &__hint {
            font-size: var(--fs10);
        }
    }
}