@import "../../_var";

.constructor-field {
    display: flex;
    flex-direction: column;
    gap: var(--m16);

    &__label-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__label {
        font: 600 var(--fs14) / 1 @font;
        letter-spacing: var(--letter-spacing);
        text-transform: uppercase;
        color: @cNavy900;
    }

    &__hint {
        font: 400 var(--fs12) / 1.4 @font;
        color: @cGray500;
    }

    &__grid {
        display: flex;
        flex-wrap: wrap;
        gap: var(--m12);
    }

    &__item {
        flex: 1 1 unit((100 / 16), rem);
    }
}