@import "../../_var";

.plate-input {
    .clear-input();
    .transit(~'border-color, background-color, box-shadow');
    background: @cWhite;
    border: 1px solid @cGray400;
    color: @cNavy900;
    padding: var(--m14) var(--m10);
    text-align: center;
    font-size: unit((30 / 16), rem);
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    border-radius: unit((6 / 16), rem);
    text-transform: uppercase;
    width: 100%;
    z-index: 1;

    &:focus {
        outline: none;
        border-color: @cBlue600;
        background: @cWhite;
    }

    &::placeholder {
        color: @cGray400;
    }
}