@import "../../_var";

/**
 * Базовые стили слайдеров
 */

.slider {
    &__picture {
        .picture-fit(contain);
    }

    &__header {
        display: flex;
        gap: var(--grid-gap);
        justify-content: space-between;
        align-items: flex-end;

        &:not(:last-child) {
            margin-bottom: var(--m48);
        }
    }

    &__thumbnail {
        .transit(opacity);
        position: relative;
        aspect-ratio: 1.5;

        picture, img {
            .cover();
            object-fit: cover;
        }

        &--active {
            opacity: .5;
        }
    }
}
