@import "../../_var";

.promo-block {
    position: relative;
    overflow: hidden;
    box-sizing: content-box;
    padding-bottom: var(--m32);
    margin-bottom: calc(-1 * var(--m32));

    &:before {
        .pseudo();
        inset: 0;
        background-image: url(~'@{imagePath}promo-block/bg-city.webp');
        background-size: cover;
        background-position: center;
        mask-image: linear-gradient(to left, @cWhite 10%, transparent 100%),
        linear-gradient(to bottom, @cWhite 95%, transparent 100%);
        mask-composite: intersect;
        opacity: 50%;
        z-index: 0;
    }

    &__content {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
        min-height: unit((500 / 16), rem);
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: var(--m16);
        z-index: 1;
    }

    &__title {
        font: 600 var(--fs56) / 1 @font;
        letter-spacing: var(--letter-spacing);
    }

    &__description {
        max-width: unit((480 / 18), em);
        font: 400 var(--fs18) / 1.2 @font;
        letter-spacing: var(--letter-spacing);
        color: @cNavy600;
    }

    &__picture {
        position: absolute;
        right: -15%; // выезжает за правый край
        bottom: 0;
        width: 55%;
        max-width: unit((880 / 16), rem);
        .picture-fit(contain, @additionalStyles: {
            object-position: right bottom;
        });
        user-select: none;
    }

    &__advantages {
        position: relative;
        box-sizing: border-box;
        padding: var(--m32);
        z-index: 2;
    }

    @media @mediaLg {
        &__advantages {
            padding: var(--m16);
        }
    }

    @media @mediaMoreMd {
        &__advantages {
            border-radius: unit((12 / 16), rem);
            background: @cWhite;
            box-shadow: 0 var(--m10) var(--m32) 0 fade(@cNavy900, 16);
        }
    }

    @media @mediaMd {
        &__content {
            grid-template-columns: 100%;
        }

        &__advantages {
            padding: 0;
        }
    }

    @media @mediaMoreSm {
        &__advantages {
            margin-top: -8%;
        }
    }

    @media @mediaSm {
        &__picture {
            display: none;
        }
    }
}