@import "../../_var.less";

.btn {
    --btn-bg-color: @cBlue600;
    --btn-border-color: @cBlue600;
    --btn-color: @cWhite;
    --btn-icon-color: currentColor;

    --btn-hover-bg-color: color-mix(in srgb, var(--btn-bg-color) 92%, @cBlack);
    --btn-hover-border-color: color-mix(in srgb, var(--btn-border-color) 92%, @cBlack);
    --btn-hover-color: @cWhite;
    --btn-hover-icon-color: currentColor;

    --btn-active-bg-color: color-mix(in hsl, var(--btn-hover-bg-color) 42%, transparent);
    --btn-active-border-color: color-mix(in hsl, var(--btn-hover-border-color) 42%, transparent);
    --btn-active-color: color-mix(in hsl, var(--btn-hover-color) 100%, transparent);
    --btn-active-icon-color: currentColor;

    --btn-disabled-bg-color: color-mix(in hsl, var(--btn-bg-color) 16%, transparent);
    --btn-disabled-border-color: color-mix(in hsl, var(--btn-border-color) 16%, transparent);
    --btn-disabled-color: color-mix(in hsl, var(--btn-color) 100%, transparent);
    --btn-disabled-icon-color: currentColor;

    --btn-border-width: 1px;
    --btn-height: unit((40 / 16), rem);
    --btn-icon-gap: var(--m8);
    --btn-padding: 0 var(--m8);
    --btn-border-radius: unit((8 / 16), rem);
    --btn-icon-size-container: unit((20 / 16), rem);
    --btn-icon-size: unit((16 / 16), rem);

    --btn-fw: 600;
    --btn-fs: var(--fs14);
    --btn-lh: 1.15;
    --btn-font: @font;

    --btn-text-flex-grow: 0;

    .clear-link();
    .clear-btn();
    .transit(~'opacity, color, border-color, background-color, box-shadow');
    position: relative;
    display: inline-flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    gap: var(--btn-icon-gap);
    background: var(--btn-bg-color);
    border: var(--btn-border-width) solid var(--btn-border-color);
    border-radius: var(--btn-border-radius);
    color: var(--btn-color);
    height: var(--btn-height);
    padding: var(--btn-padding);
    white-space: nowrap;
    text-align: center;
    user-select: none;
    flex-shrink: 0;
    font: var(--btn-fw) var(--btn-fs) / var(--btn-lh) var(--btn-font);
    letter-spacing: var(--letter-spacing);

    @hoverRuleset: {
        .btn-hover();
    }

    @activeRuleset: {
        .btn-active();
    }

    .hover(@hoverRuleset: @hoverRuleset, @activeRuleset: @activeRuleset);

    &__icon {
        .transit(~'opacity, color');
        .container(var(--btn-icon-size-container));
        position: relative;

        svg {
            .size(var(--btn-icon-size));
            fill: var(--btn-icon-color);
        }
    }

    &__text {
        position: relative;
        text-align: left;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        flex-grow: var(--btn-text-flex-grow);
    }

    // модификаторы размера
    &--md {
        --btn-height: unit((32 / 16), rem);
    }

    // Модификаторы стейта
    &--disabled,
    &:disabled,
    &.swiper-button-lock,
    &[disabled] {
        .btn-disabled();
    }

    &--hidden {
        opacity: 0;
        pointer-events: none !important;
    }

    // Модификаторы цвета
    &--transparent {
        --btn-bg-color: transparent;
        --btn-border-color: transparent;
        --btn-color: @cGray900;

        --btn-hover-bg-color: transparent;
        --btn-hover-border-color: transparent;
        --btn-hover-color: @cGray900;
    }

    &--outline {
        --btn-bg-color: transparent;
        --btn-border-color: @cBlue600;
        --btn-color: @cGray900;

        --btn-hover-bg-color: fade(@cBlue600, 8);
        --btn-hover-border-color: @cBlue600;
        --btn-hover-color: @cGray900;

        --btn-active-bg-color: transparent;
        --btn-active-border-color: @cBlue600;
        --btn-active-color: @cBlue600;
    }

    &--secondary {
        --btn-bg-color: @cGray100;
        --btn-border-color: @cGray100;
        --btn-color: @cBlue600;

        --btn-hover-bg-color: @cGray200;
        --btn-hover-border-color: @cGray200;
        --btn-hover-color: @cBlue600;

        --btn-active-bg-color: @cGray100;
        --btn-active-border-color: @cBlue600;
        --btn-active-color: @cBlue600;
    }

    &--light-blue {
        --btn-bg-color: fade(@cBlue600, 16);
        --btn-border-color: fade(@cBlue600, 5);
        --btn-color: @cBlue600;

        --btn-hover-bg-color: fade(@cBlue600, 32);
        --btn-hover-border-color: fade(@cBlue600, 10);
        --btn-hover-color: @cBlue600;

        --btn-active-bg-color: fade(@cBlue600, 16);
        --btn-active-border-color: @cBlue600;
        --btn-active-color: @cBlue600;

        --btn-disabled-bg-color: fade(@cBlue600, 16);
        --btn-disabled-border-color: fade(@cBlue600, 5);
        --btn-disabled-color: fade(@cBlue600, 32);
    }

    &--tertiary {
        --btn-bg-color: @cGray100;
        --btn-border-color: @cGray100;
        --btn-color: @cGray900;

        --btn-hover-bg-color: @cGray200;
        --btn-hover-border-color: @cGray200;
        --btn-hover-color: @cGray900;

        --btn-active-border-color: @cBlue600;
        --btn-active-bg-color: @cGray100;
    }

    &--white {
        --btn-bg-color: @cWhite;
        --btn-border-color: @cWhite;
        --btn-color: @cGray900;
        --btn-icon-color: @cGray600;

        --btn-hover-bg-color: @cGray200;
        --btn-hover-border-color: @cGray200;
        --btn-hover-color: @cGray900;
        --btn-hover-icon-color: @cGray600;

        --btn-active-bg-color: @cWhite;
        --btn-active-border-color: @cBlue600;
        --btn-active-color: @cGray900;
        --btn-active-icon-color: @cGray600;

        --btn-disabled-color: @cGray400;
        --btn-disabled-icon-color: @cGray400;
    }

    // Квадратные кнопки
    &--square {
        .size(var(--btn-height));
        padding: 0;
    }

    // Круглые кнопки
    &--round {
        .size(var(--btn-height));
        padding: 0;
        border-radius: 50%;
    }
}