@import "../../_var";

.flag {
    --emboss-light: fade(@cWhite, 40);
    --emboss-shadow: fade(@cBlack, 50);

    display: inline-flex;
    align-items: center;

    &__text {
        font: 700 var(--fs24) / 1 @font;
        letter-spacing: 0.15em;
    }

    &--raised {
        .flag {
            &__text {
                text-shadow: -1px -1px 0 var(--emboss-light),
                1px 1px 0 var(--emboss-shadow);
            }

            &__icon {
                filter: drop-shadow(-1px -1px 0 fade(@cWhite, 30)) drop-shadow(1px 1px 0 fade(@cBlack, 50));
            }
        }
    }
}