@import "../../../_var";

.font-tab {
    .clear-btn();
    .transit(color);
    flex: 1 1 auto;
    text-align: center;
    box-sizing: border-box;
    padding: var(--m8);
    font: 400 var(--fs18) / 1 @font;
    color: @cGray500;
    background: @cWhite;
    cursor: pointer;

    .hover({
        &:not(&--active) {
            color: @cBlue500;
        }
    });

    &__hint {
        font: 400 var(--fs12) / 1.4 @font;
        color: @cGray500;
    }

    &--active {
        background: @cBlue600;
        color: @cWhite;
        font-weight: 600;
    }

    @media @mediaLg {
        font-size: var(--fs16);
    }

    @media @mediaSm {
        font-size: var(--fs12);
    }
}