@import "../../_var";

.advantage-grid-card {
    background: @cWhite;
    border: 1px solid @cNavy800;
    border-radius: var(--br8);
    padding: var(--m32);

    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: var(--m12);
        margin-bottom: var(--m20);
    }

    &__icon {
        --size-container: unit((48 / 16), rem);
        --size-icon: unit((24 / 16), rem);
        .container(var(--size-container));
        background: @cWhite150;
        border-radius: var(--br8);
        color: @cBlue600;

        svg, span {
            .size(var(--size-icon));
        }
    }

    &__index {
        flex-shrink: 0;
        font: 700 var(--fs48) / 1 @font;
        color: @cBlue300;
    }

    &__title {
        font: 600 var(--fs18) / 1.2 @font;
        color: @cNavy900;
        margin-bottom: var(--m12);
    }

    &__description {
        font: 400 var(--fs16) / 1.6 @font;
        color: @cNavy700;
    }

    @media @mediaMd {
        padding: var(--m20);

        &__icon {
            --size-container: unit((40 / 16), rem);
            --size-icon: unit((20 / 16), rem);
        }

        &__index {
            font-size: var(--fs40);
        }

        &__title {
            font-size: var(--fs16);
        }

        &__description {
            font-size: var(--fs14);
        }
    }

    @media @mediaSm {
        &__header {
            gap: var(--m10);
            margin-bottom: var(--m16);
        }

        &__icon {
            --size-container: unit((36 / 16), rem);
            --size-icon: unit((18 / 16), rem);
        }

        &__index {
            font-size: var(--fs32);
        }

        &__description {
            font-size: var(--fs12);
        }
    }
}