@import "../../_var";

.advantages-section {
    position: relative;
    overflow: hidden;

    &__content {
        display: flex;
        flex-direction: column;
        gap: var(--m48);
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(3, minmax(280px, 1fr));
        gap: var(--m24);
        margin: 0 auto;
    }

    @media @mediaMd {
        &__grid {
            grid-template-columns: repeat(2, 1fr);
            gap: var(--m16);
        }
    }

    @media @mediaSm {
        &__grid {
            display: flex;
            overflow: auto;
            margin-right: calc(-1 * var(--page-gutter));
            margin-left: calc(-1 * var(--page-gutter));
            padding: 0 var(--page-gutter);
        }

        &__item {
            flex-shrink: 0;
            max-width: unit((220 / 16), rem);
        }
    }
}