@import "../../_var";

.works-slider {
    position: relative;
    box-sizing: border-box;
    padding-top: var(--m48);
    border-top: 1px solid @cGray300;
    overflow: hidden;

    &__swiper {
        --slide-width: unit((400 / 16), rem);
        --slider-gap: var(--m20);
        --slider-overflow: visible;

        margin-right: calc(-1 * var(--page-gutter));
        margin-left: calc(-1 * var(--page-gutter));
        padding: 0 var(--page-gutter);
    }

    // Swiper контейнер — дочерний элемент .works-slider__swiper
    .swiper {
        --slide-width: unit((400 / 16), rem);
        --slider-gap: var(--m20);
        --slider-overflow: visible;
    }
}