@import "../../_var";

.burger-menu {
    position: fixed;
    top: var(--default-header-height);
    left: 0;
    right: 0;
    box-sizing: border-box;
    border-top: 1px solid fade(@cNavy950, 8);
    height: calc(100dvh - var(--default-header-height));

    &__nav {
        .clear-list();
        display: flex;
        flex-direction: column;
    }

    &__item {
        font: 500 var(--fs18) / 1 @font;
        box-sizing: border-box;
        padding: var(--m16) var(--page-gutter);
    }
}