@import "../../_var";

.header {
    .transit(~'background-color, box-shadow, backdrop-filter');
    .blur(1.25rem);
    position: sticky;
    top: 0;
    height: var(--default-header-height);
    box-sizing: border-box;
    padding: var(--m16) 0;
    background-color: color-mix(in oklab, @cWhite 80%, transparent);
    overflow: hidden;
    z-index: @headerZIndex;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        .clear-list();
        display: flex;
        align-items: center;
        gap: var(--m36);
    }

    &__nav-link {
        font: 500 var(--fs14) / 1 @font;
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: var(--m12);
    }

    &--fixed {
        box-shadow: 0 var(--m4) var(--m4) fade(@cNavy950, 8);
    }

    &--menu-open {
        height: 100dvh;
    }

    @media @mediaMoreLg {
        &__user-btn,
        &__menu-btn {
            display: none;
        }
    }

    @media @mediaLg {
        padding: var(--m8) 0;

        &__login-btn,
        &__nav {
            display: none;
        }

        &__actions {
            gap: var(--m4);
        }
    }

    @media @mediaSm {
        &__favourites-btn {
            display: none;
        }
    }
}
