@import "../../_var";

.header {
    .transit(~'background-color, box-shadow, backdrop-filter');
    position: sticky;
    top: 0;
    box-sizing: border-box;
    padding: var(--m20) 0;
    background-color: color-mix(in oklab, @cWhite 80%, transparent);
    z-index: @headerZIndex;

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        .clear-link();
    }

    &__nav {
        .clear-list();
        display: flex;
        align-items: center;
        gap: var(--m36);
    }

    &__nav-link {
        .clear-link(@cNavy900);
        font: 500 var(--fs14) / 1 @font;
        .transit(color);

        &:hover {
            color: @cBlue600;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        gap: var(--m12);
    }

    &--fixed {
        .blur(1.25rem);
        box-shadow: 0 var(--m4) var(--m4) fade(@cNavy950, 8);
    }

    @media @mediaMoreLg {
        &__user-btn,
        &__menu-btn {
            display: none;
        }
    }

    @media @mediaLg {
        padding: var(--m8) 0;

        &__login-btn,
        &__nav {
            display: none;
        }
    }
}
