@import "_var";

/****
 * Подключение шрифтов
 ****/

.font(@fontName, @fontFileName, @weight: normal, @style: normal) {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}@{fontFileName}.woff2') format('woff2');
        font-weight: @weight;
        font-style: @style;
        font-display: swap;
    }
}

.variable-font(@fontName, @fontFileName, @style: normal, @range: '') {
    @font-face {
        font-family: @fontName;
        src: url('@{fontPath}@{fontFileName}.woff2') format('woff2');
        font-style: @style;
        font-display: swap;

        & when (@range) {
            unicode-range: @range;
        }
    }
}

.font(@fontName, 'Montserrat-Regular',  400);
.font(@fontName, 'Montserrat-Medium',   500);
.font(@fontName, 'Montserrat-Semibold', 600);
.font(@fontName, 'Montserrat-Bold',     700);

